build
logs
*.log
npm-debug.log*
firebase-debug.log*
firebase-debug..log
.firebase/
node_modules/
.env
.env.*
node_modules/

.runtimeconfig.json

.DS_Store

.vscode/
*.swp
*.swo

yarn.lock
package-lock.json
key.json
